.select-area{
  position:relative;
  cursor:default;
  height:20px;
  background:#fff;
}
.select-area-opened .select-area-right{
  background:url(../images/list.jpg) no-repeat;
}
.select-area .select-area-center{
  position:absolute;
  top:0;
  left:1px;
  padding-left:4px;
  color:#686868;
  font:normal 14px Verdana, Geneva, sans-serif;
  height:20px;
  line-height:20px;
  overflow:hidden;
  white-space:nowrap;
}
.select-area .select-area-left{
  width:1px;
  height:20px;
  float:left;
  background:#cfc000;
}
.select-area .select-area-right{
  width:20px;
  height:20px;
  float:right;
  background:url(../images/list.jpg) no-repeat;
}
#quickJumpSelectArea{
  cursor:pointer;
  width:259px;
  height:20px;
}
#quickJumpSelectOptions{
  cursor:pointer;
  width:225px;
  overflow:auto;
  z-index:10;
  padding:0px; 
  margin:0px;
}
#quickJumpSelectText{
  cursor:pointer;
  width:225px;
}
.qJSArea{
  cursor:pointer;
  width:259px;
  height:20px;
}
.qJSOptions{
  cursor:pointer;
  width:225px;
  overflow:auto;
  z-index:10;
  padding:0px; 
  margin:0px;
}
.slist{
  height:auto;
}
.qJSText{
  cursor:pointer;
  width:225px;
}
.select-options-invisible, .select-options-visible{
  position:absolute;
  top:20px;
  background:#fff;
  z-index:999;
  border:1px solid #d4d4d4;
  overflow:auto;
}
.select-options-invisible{
  display:none;
}
.select-options-visible{
  cursor:default;
  list-style-type:none;
}
.select-options-visible li { 
  margin:0;
  padding:2px;
  text-align:left!important;
}
.select-options-visible li.select-option-hovered{
  background-color:#F90;
}
.select-options-visible li.select-option-selected{
  background:#F90;
}
.select-options-visible li a{
  color:#000;
  text-decoration:none;
  font:normal 14px Verdana, Geneva, sans-serif;
  display:block;
}
.select-options-visible li.select-option-hovered a{
  color:#000;
}
.select-options-visible li.select-option-selected a{
  color:#000;
}
.quick-select{
  margin-bottom:10px;
}